/*--------------------------------------------- */
/* layout ------------------------------------- */
/*--------------------------------------------- */
* {
	margin: 0px;
	padding:0px;
}

body { 
}

#wrapper { margin: 0 auto; width: 1000px; position: relative;}

/*--------------------------------------------- */
/* structure ---------------------------------- */
/*--------------------------------------------- */
.header {
	width: 1000px;
	padding: 0 0 0 0;		
}

.header-column-left {
	float:left;
	width: 600px;
	padding: 0 0 0 0;
	text-align:left;
}

.header-column-left-basket {
	float:left;
	width: 260px;
	padding: 0 0 0 0;
	text-align:right;
}

.header-column-right {
	float:right;
	width: 110px;
	padding: 0 0 0 0;
	text-align:right;
}

.content {
	width: 1000px;
	padding: 0 0 0 0;		
}

.content-column-left {
	float:left;
	width: 200px;
	padding: 0 10px 0 0;		
}




.content-column-center {
	float:left;
	width: 790px;
	padding: 0 0 0 0px;			
}

.content-column-right {
	float:right;
	width: 200px;
	padding: 0 0 0 0;		
}

.content-column-center-right {
	float:left;
	width: 790px;
	padding: 0 0 0 0px;		
}

.policy {
	width: 1000px;
	padding: 0 0 0 0;		
}

.policy-content {
	padding: 10px;	
}

.policy-content-footer {
	padding: 10px;	
}

.footer {
	width: 1000px;
	padding: 0 0 0 0;		
}

.footer-content {
	padding: 10px;
}

.spacer {
	padding: 10px;
}

.left-header { 
	padding:8px; 
	text-align: left; 
	width:184px;
}

.left-content {
	padding: 8px; 
	text-align: right; 
	width:184px; 
}

.center-header { 
	padding: 8px; 
}

.center-content { 
	padding: 8px; 
}

.pomoc-content { 
	padding: 8px; 
}

table { margin: 0; border-collapse: collapse; width: 99%;}
table td, table th {padding: .6em 10px; }

.productGrid {
	width:188px; padding:0px 12px 10px 0px; float: left;
}

.productGrid4 {
	width:187px; padding:0px 10px 10px 0px; float: left;
}

#slideshow {
	background-color: #FFFFFF;
    position:relative;
/*    height:360px; rozlatywal sie widok baner*/
}

#slideshow IMG {
	background-color: #FFFFFF;
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}

#slideshow IMG.active {
	background-color: #FFFFFF;
    z-index:10;
    opacity:1.0;
}

#slideshow IMG.last-active {
	background-color: #FFFFFF;
    z-index:9;
}
