/*--------------------------------------------- */
/* layout ------------------------------------- */
/*--------------------------------------------- */
* {
	outline: none;	
}

body {
	background-color:#FFF;;
	background-repeat:repeat-y;
	background-position:top center;
	background-attachment:scroll;
}

#wrapper {
	padding-top: 10px;	
}

/*--------------------------------------------- */
/* structure ---------------------------------- */
/*--------------------------------------------- */

#header {
	background: #FFFFFF;
}

#content {
    background: #FFFFFF;
}

#footer {
	background: #FFFFFF;
}

/*--------------------------------------------- */
/* box ---------------------------------------- */
/*--------------------------------------------- */

/*--------------------------------------------- */
/* headings ----------------------------------- */
/*--------------------------------------------- */

/*--------------------------------------------- */
/* lists -------------------------------------- */
/*--------------------------------------------- */

/*--------------------------------------------- */
/* paragraphs --------------------------------- */
/*--------------------------------------------- */

/*--------------------------------------------- */
/* forms -------------------------------------- */
/*--------------------------------------------- */
label, input { display:block; padding: 4px;}
input.text { margin-bottom:10px; width:97%; }
fieldset { margin:10px 0px 0px 10px; border: 0;}

#idUsersApprovedTable_filter label, input { display:inline; padding: .3em; width:140px;}
.formButtons { text-align:center; padding-bottom:20px;}

#product {width:199px; height:14px; border: 1px solid #DDDDDD;}
#producer {width:199px; height:14px; border: 1px solid #DDDDDD;}

.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: .3em; }

/*--------------------------------------------- */
/* anchors ------------------------------------ */
/*--------------------------------------------- */

/*--------------------------------------------- */
/* images ------------------------------------- */
/*--------------------------------------------- */

img {
	border: 0px solid #000000;
}